<div class="contracts-index">
  <div class="row">
    <div class="col-sm-12">
      <h1>Available Options</h1>
      <% if @contracts.exists? -%>
        <%= render partial: 'contracts_list', locals: { contracts: @contracts } %>
      <% end %>
    </div>
  </div>
</div>
