<div class="container-fluid">
  <div class='row'>
    <div class="left-timeline col-sm-12">
      <form role="form" class="timeline-update">
        <textarea class="form-control" placeholder="What are you working on?"></textarea>
        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <a class="btn btn-sm btn-default"><i class="fa fa-fw fa-camera"></i></a>
            <a class="btn btn-sm btn-default"><i class="fa fa-fw fa-video-camera"></i></a>
            <a class="btn btn-sm btn-default"><i class="fa fa-fw fa-map-marker"></i></a>
          </div>
          <div class="col-xs-6 col-sm-6 text-right">
            <button type="submit" class="btn btn-outline-primary btn-sm">Post</button>
          </div>
        </div>
      </form>
      <ul>
        <li>
          <time>
            <span>13</span>
            <small>Feb</small>
          </time>
          <header>
            <img class='img-rounded' src='http://fillmurray.com/32/32'>
            <h4 class='m0 mt15 mb15'> James uploaded a video. </h4>
          </header>
          <p>
            corporation BASE jump katana film silent numinous math- hotdog semiotics nano- nodal point neural tiger-team dome saturation point systema faded cyber- euro-pop apophenia cartel marketing plastic carbon papier-mache sunglasses camera cardboard voodoo god spook
          </p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
          </div>
        </li>
        <li>
          <time>
            <span>12</span>
            <small>Feb</small>
          </time>
          <header>
            <img class='img-rounded' src='http://<www class="stevensegallery com"></www>/32/32'>
            <h4 class='m0 mt15 mb15'> James uploaded a video. </h4>
          </header>
          <p>
            Today I'm working on refactoring the video encoding processor to be slightly more efficient about handling cancellations.
          </p>
        </li>
        <li class='join-to-previous'>
          <header>
            <img class='img-rounded' src='http://fillmurray.com/32/32'>
            <h4 class='m0 mt15 mb15'> James uploaded a video. </h4>
          </header>
          <p>
            Closes #215 - Monster update of nothing in particular.
          </p>
        </li>
        <li class="period-marker">
          <p>Last Month</p>
        </li>
        <li>
          <time>
            <span>23</span>
            <small>Jan</small>
          </time>
          <p>
            office gang pistol vehicle media -space monofilament DIY meta- bridge Tokyo math- woman hacker convenience store sunglasses tower weathered RAF receding nano- concrete table otaku chrome sub-orbital digital advert tiger-team range-rover refrigerator construct cyber- singularity nodality film network youtube knife fetishism systema motion neon systemic computer sensory cardboard savant spook nodal point disposable futurity towards augmented reality dolphin Chiba smart- sign carbon jeans bomb tube stimulate footage render-farm into realism fluidity face forwards decay dead military-grade
          </p>
        </li>
        <li>
          <time>
            <span>12</span>
            <small>Jan</small>
          </time>
          <p>
            dolphin knife nodality savant convenience store paranoid denim tiger-team construct meta- kanji claymore mine RAF -ware DIY nano- soul-delay woman rebar physical cardboard geodesic urban man warehouse semiotics decay industrial grade sign tattoo Kowloon katana lights apophenia papier-mache hacker monofilament concrete sprawl drugs long-chain hydrocarbons tower marketing youtube film -space disposable render-farm shrine Shibuya assault wristwatch human weathered smart- crypto- j-pop tube numinous courier sunglasses Tokyo gang dissident systemic San Francisco nodal point sub-orbital singularity corrupted wonton soup Chiba
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>