<% content_for :body_class, "landing" %>

<div class="landing">
  <div class="container">
    <div class="navbar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span>MENU</span>
        </button>
        <%= link_to 'SLASH OPTIONS', root_path, class: 'navbar-brand'%>
      </div>
   </div>
 </div>
 <div class="landing gradient one-page">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h1 class="text-md-center">Freely Bid or Ask for Options</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p class="lead text-md-center">Decentralized Marketplace for Peer-to-Peer Option Contract Trading</p>
        </div>
      </div>
      <div class="row mt20">
        <div class="col-xs-12">
          <form class="signup-form form-inline">
            <div class="text-center">
              <div class="form-group">
                <%= form_for resource, as: resource_name, url: session_path(resource_name),
                             html: { class: "form-horizontal col-xs-12 col-md-6 col-md-offset-3" } do |f| %>

                  <%- if devise_mapping.omniauthable? %>
                    <p class="text-center">
                      <%- resource_class.omniauth_providers.each do |provider| %>
                        <%= link_to fa_icon_tag("#{provider}-sign") + " Sign in with #{provider.to_s.titleize}",
                            omniauth_authorize_path(resource_name, provider),
                            class: 'btn btn-outline-primary' %>
                      <% end -%>
                    </p>
                  <% end -%>
                <% end %>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="landing container foot">
  <div class="pull-left">Made by <a href="https://github.com/ryannyunn/" target="_blank">Ryan</a>, <a href="https://github.com/walterbm" target="_blank">Walter</a> &amp; <a href="https://github.com/chrisjeon" target="_blank">Chris</a> in NYC. Check out the source code <a href="https://github.com/ryannyunn/options" target="_blank">here</a>!</div>
  <div class="pull-right">Powered by <a href="http://blockapps.net/apidocs/" target="_blank">BlockApps</a>, <a href="http://ethereum101.org/" target="_blank">Ethereum</a> &amp; <a href="http://developers.coinbase.com/api/v2#introduction" target="_blank">Coinbase</a></div>
</div>