<% @title = "Log in" %>

<div id="main" class='devise'>
  <div class="container-fluid">
    <div class="row">
      <header class="text-center">
        <h1>Options</h1>
        <p class="p0 m0">Login</p>
      </header>
    </div>
    <div class="row mt20">
      <%= form_for resource, as: resource_name, url: session_path(resource_name),
                             html: { class: "form-horizontal col-xs-12 col-md-6 col-md-offset-3" } do |f| %>

        <%- if devise_mapping.omniauthable? %>
          <p class="text-center">
            <%- resource_class.omniauth_providers.each do |provider| %>
              <%= link_to fa_icon_tag("#{provider}-sign") + " Sign in with #{provider.to_s.titleize}",
                  omniauth_authorize_path(resource_name, provider),
                  class: 'btn btn-lg' %>
            <% end -%>
          </p>
        <% end -%>
      <% end %>
    </div>
  </div>
</div>
