/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.gradient {

  background: -webkit-linear-gradient(180deg, #8e9eab 10%, #eef2f3 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(180deg, #8e9eab 10%, #eef2f3 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(180deg, #8e9eab 10%, #eef2f3 90%); /* IE10 */
  background:      -o-linear-gradient(180deg, #8e9eab 10%, #eef2f3 90%); /* Opera 11.10+ */
  background:         linear-gradient(180deg, #8e9eab 10%, #eef2f3 90%); /* W3C */
}

.foot {
  padding-top: 25px;
}
