div.users-show {
  div.user-profile {
    header {
      height: 100%;
      border-bottom: 0;
    }
  }

  div.left-timeline {
    padding-top: 34px;
  }

  div.right-bio {
    padding-top: 25px;
  }
}
