<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-4 text-xs-center text-md-left">
          <section>
            <h4>About</h4>
            <a href="#">About My App</a> <br>
            <a href="#">Privacy</a> <br>
            <a href="#">Terms</a>
          </section>
        </div>
        <div class="col-sm-12 col-lg-4 text-xs-center text-md-left">
          <section>
            <h4>Social</h4>
            <a href="#">Blog</a> <br>
            <a href="#">Twitter</a> <br>
            <a href="#">Facebook</a><br>
            <a href="#">Contact Us</a>
          </section>
        </div>
        <div class="col-sm-12 col-lg-4 text-xs-center text-md-left">
          <section>
            <h4>Quick Links</h4>
            <a href="#">Login</a> <br>
            <a href="#">Sign up</a> <br>
          </section>
        </div>
      </div>
    </div>
  </footer>