<div class="nav-side-menu">
<div class="navbar-header">
  <div class="profile">
    <%= random_avatar 60, "img-circle profile-image" %>
    <div class="profile-body">
      <h4>Fill Murray</h4>

      <div class="user-links">
        <a class="btn btn-link btn-flat btn-xs btn-borderless" href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Messages"><i class="fa fa-envelope"></i></a>
        <a class="btn btn-link btn-flat btn-xs btn-borderless" href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Profile"><i class="fa fa-user"></i></a>
        <a class="btn btn-link btn-flat btn-xs btn-borderless" href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Settings"><i class="fa fa-cog"></i></a>
        <a class="btn btn-link btn-flat btn-xs btn-borderless" href="#" data-placement="bottom" data-toggle="tooltip" data-original-title="Logout"><i class="fa fa-sign-out"></i></a>
      </div>
    </div>
  </div>
  <i class="navbar-toggle collapsed fa fa-bars" data-toggle="collapse" data-target="#menu-content"></i>
</div>

<ul id="menu-content" class="nav navbar-collapse">
  <li>
    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Menu Example<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse" aria-expanded="false">
      <li>
        <a href="#" class="active">Second Level Item</a>
      </li>
      <li>
        <a href="#" class="active">Second Level Item</a>
      </li>
      <li>
        <a href="#">Third Level <span class="fa arrow"></span></a>
        <ul class="nav nav-third-level">
          <li>
            <a href="#" class="active">Third Level Item</a>
          </li>
          <li>
            <a href="#" class="active">Third Level Item</a>
          </li>
          <li>
            <a href="#" class="active">Third Level Item</a>
          </li>
          <li>
            <a href="#">Fourth Level <span class="fa arrow"></span></a>
            <ul class="nav nav-fourth-level">
              <li>
                <a href="#" class="active">Fourth Level Item</a>
              </li>
              <li>
                <a href="#" class="active">Fourth Level Item</a>
              </li>
              <li>
                <a href="#" class="active">Fourth Level Item</a>
              </li>
              <li>
                <a href="#" class="active">Fourth Level Item</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- /.nav-third-level -->
      </li>
    </ul>
    <!-- /.nav-second-level -->
  </li>
  <li class="nav-side-menu-footer">
    <div>
      <small>
        <strong>3 Users</strong> / 10 Users
        <span class="pull-right">
          <button class='btn btn-outline-info btn-flat btn-xs'><i class="fa fa-plus"></i></button>
        </span>
      </small>
    </div>
    <div class="progress progress-mini">
      <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%"></div>
    </div>
    <div class='text-center'>
      100% operatinal capacity
    </div>
  </li>
</ul>
</div>